<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:b" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Lista de Estabelecimentos</title>
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <body>
        <header class="main-header">
            <div>
                <h1>Lista de Estabelecimentos</h1>
            </div>
        </header>

        <div>
            <!--@submit call a function to add the values in the localStorage-->
            <form id="add-places" @submit="checkform" action="#">
                <label for="name">Nome: </label> <input type="text" name="name" id="name" v-model="name">
                <label for="address">Endereço: </label> <input type="text" name="address" id="address" 
                    v-model="address">
                <button type="submit">Adicionar Endereço</button>      
            </form>
        </div>

        <div id="card-list">
            <!--v-for will interate the following div for every value on the places data. 
                Places will hold the values in the localStorage-->
            <div v-for="(address, name) in places" class="w3-card w3-hover-shadow">
                <header class="w3-container">
                    <h3>{{name}}</h3>
                </header>
                
                <div class="w3-container w3-white">
                    <p>{{address}}</p>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="./index.js"></script>
    </body>
</html>